
<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Techiediaries</a>
    <div class="navbar-nav mr-auto">
        <li class="nav-item">
            <a routerLink="products" class="nav-link">Products</a>
            </li>
            <li class="nav-item">
            <a routerLink="create" class="nav-link">Create</a>
            </li>
            </div>
            </nav>
            <div class="container mt-5">
            <router-outlet></router-outlet>
            </div>
            </div>
            <router-outlet></router-outlet>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<app-temp-driv-form></app-temp-driv-form>

<app-reactive-form></app-reactive-form>

<h4>----------{{title}}----------</h4>

<ul *ngFor="let user of userDetails">
<app-user-details [item]="user"></app-user-details>    
</ul>
<app-child (updateDataEvent)="updateData($event)"></app-child>
<h3>{{data}}</h3>
<app-add-task></app-add-task>
<app-profile></app-profile>